
<!-- Portfolio Section -->
<section id="projects" class="services-section">
  <div class="container">
    <h1 class="heading heading-projects">Projects.</h1>
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="box">
            Project 1
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="box">
            Project 2
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="box">
            Project 3
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="box">
            Project 4
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="box">
            Project 5
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="box">
            Project 6
        </div>
      </div>

    </div>

  </div>
</div>
</div>
</section>

<!-- Projects Snapshot -->
<section id="projects-id" class="projects-index">
  <div class="container">

    <div class="row">

    <div class="col-lg-12">
        <h1 class="heading">Projects.</h1>
    </div>

      <div class="col-lg-6">
        <img src="http://placehold.it/600x400/2ecc71/fff" alt="" class="img-responsive center-block">
      </div>
      <div class="col-lg-6">
        <div class="col-lg-6"><img src="http://placehold.it/300x205/3498db/fff" alt="" class="img-responsive"></div>
        <div class="col-lg-6"><img src="http://placehold.it/300x205/e74c3c/fff" alt="" class="img-responsive"></div>
        <div class="col-lg-6"><img src="http://placehold.it/300x205/f1c40f/fff" alt="" class="img-responsive"></div>
        <div class="col-lg-6"><img src="http://placehold.it/300x205/9b59b6/fff" alt="" class="img-responsive"></div>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-6">
        <div class="col-lg-6"><img src="http://placehold.it/300x205/3498db/fff" alt="" class="img-responsive"></div>
        <div class="col-lg-6"><img src="http://placehold.it/300x205/e74c3c/fff" alt="" class="img-responsive"></div>
        <div class="col-lg-6"><img src="http://placehold.it/300x205/f1c40f/fff" alt="" class="img-responsive"></div>
        <div class="col-lg-6"><img src="http://placehold.it/300x205/9b59b6/fff" alt="" class="img-responsive"></div>
      </div>

      <div class="col-lg-6">
        <img src="http://placehold.it/600x400/2ecc71/fff" alt="" class="img-responsive center-block">
      </div>

    </div>

      <p>Check out my projects using some of these technologies <strong>here</strong>.</p>
</div>

</section>
