<!-- Thoughts Section -->
<section id="thoughts" class="services-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class ="heading">Thoughts.</h1>
            </div>
        </div>
    </div>

    <br>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>Still thinking.</p>
        </div>
      </div>
    </div>





</section>
