<!-- Contact Section -->
  <section id="contact" class="contact-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="heading">Contact.</h1>
          <p>I’m currently available for freelance work.</p>
          <p>If you have a project that you want to get started,
            think you need my help with something or just fancy saying hey,
            then get in touch! :)</p>
        </div>
      </div>
      <div class="row">
        <div class="row center-block">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <a class="contact-icons" href="mailto:divij.mehra.16@gmail.com">
              <img src="<%= asset_path 'mail.png'%>">
            </a>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <a class="contact-icons" href="https://www.linkedin.com/in/divijmehra">
            <img src="<%= asset_path 'linkedin.png'%>">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <a class="contact-icons" href="https://github.com/divijm">
            <img src="<%= asset_path 'github.png'%>">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <a class="contact-icons" href="https://www.instagram.com/divijm/">
            <img src="<%= asset_path 'instagram.png'%>">
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- Contact Section -->
