<!-- Projects Snapshot -->
  <section id="projects-id" class="projects-index">
    <div class="flex-container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="heading">Projects.</h1>
        </div>
      </div>
    </div>

        <br>
        <br>

    <div class="flex-container">
      <!-- <div class="row around-lg"> -->
        <div class="flex-item">
          <div class="col-lg-6 projects">
            <a target="_blank" href="https://github.com/divijm/Website-portfolio">
              <img src="http://res.cloudinary.com/ddhuus7k5/image/upload/v1489302650/project1.png"
              style="width: 300px; height:205px;" alt="" class="img-responsive">
            </a>
            <div id="text-content"><p>Personal Portfolio</p></div>
          </div>
        </div>

          <div class="flex-item">
            <div class="col-lg-6">
              <div class="col-lg-6 projects">
                <a target="_blank" href="https://github.com/divijm/CFA-ATM-terminal-app">
                  <img src="http://res.cloudinary.com/ddhuus7k5/image/upload/v1489320039/atmapp.jpg"
                style="width: 300px; height:205px;" alt="" class="img-responsive">
                </a>
                <div id="text-content"><p>ATM Terminal App</p></div>
              </div>
            </div>
          </div>
        <!-- </div> -->

        <!-- <div class="row around-lg"> -->
          <div class="flex-item">
            <div class="col-lg-6">
              <div class="col-lg-6 projects">
                <a target="_blank" href="https://github.com/divijm">
                  <img src="http://res.cloudinary.com/ddhuus7k5/image/upload/v1489320628/csszen_oh9hnc.png"
                style="width: 300px; height:205px;" alt="" class="img-responsive">
                </a>
                <div id="text-content"><p>CSS Zen Garden</p></div>
              </div>
            </div>
          </div>

        <div class="flex-item">
          <div class="col-lg-6">
            <div class="col-lg-6 projects">
              <a target="_blank" href="https://github.com/divijm/CFA-Progress-Counter">
                <img src="http://res.cloudinary.com/ddhuus7k5/image/upload/v1489320627/progresscounter_ynpt5l.jpg"
                  style="width: 300px; height:205px;" alt="" class="img-responsive">
              </a>
              <div id="text-content"><p>Progress Counter Terminal App</p></div>
            </div>
          </div>
        </div>
      <!-- </div> -->

        <br>
        <br>
        <p>Check out my projects using some of these technologies <%= link_to "here", pages_projects_path %>.</p>
    </div>
  </section>
<!-- Projects Snapshot -->
